# Flight Delays Project

### Presented by the Air Marshals

In [6]:
# importing libraries
import pandas as pd
import numpy as np
import os

# Specifying path
path = "C:/Users/chadi/Desktop/flights.csv"

#creating dataframe from excel file
df = pd.read_csv(path)

# display dataframe
df

C:\Users\chadi\AppData\Local\Temp\ipykernel_51784\4152081587.py:10: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Basic info on Delays per airline

#Dataframe grouped by Airline
adf = df.groupby('AIRLINE')

#creating the values
mean = adf['DEPARTURE_DELAY'].mean()
median = adf['DEPARTURE_DELAY'].median()
var = adf['DEPARTURE_DELAY'].var()
std = adf['DEPARTURE_DELAY'].std()
sem = adf['DEPARTURE_DELAY'].sem()

#creating dataframe
sinfo = pd.DataFrame({
    'Mean': mean,
    'Median': median,
    'Variance': var,
    'Standard Deviation': std,
    'Standard Error of Mean': sem
})
#display dataframe for general info on delays
sinfo

,Mean,Median,Variance,Standard Deviation,Standard Error of Mean
AIRLINE,,,,,
AA,8.900856,-2.0,1755.394594,41.897429,0.049528
AS,1.785801,-4.0,695.143533,26.365575,0.063590
B6,11.514353,-2.0,1483.631347,38.517935,0.075130
DL,7.369254,-1.0,1320.406988,36.337405,0.038909
EV,8.715934,-3.0,1496.163982,38.680279,0.051814
F9,13.350858,-2.0,2451.329377,49.510902,0.164771
HA,0.485713,-4.0,602.732392,24.550609,0.088985
MQ,10.125188,-2.0,1649.595061,40.615207,0.076717
NK,15.944766,-1.0,1915.607275,43.767651,0.128810
OO,7.801104,-3.0,1429.405192,37.807475,0.049683
UA,14.435441,1.0,1768.689286,42.055788,0.058917
US,6.141137,-2.0,842.349537,29.023259,0.065754
VX,9.022595,-1.0,1051.379409,32.424981,0.130873
WN,10.581986,0.0,944.880715,30.738912,0.027536